// $black: #0D0D0D
// $grey: #2C2C2C
// $green: #287910
// $lime: #45E714
// $white: #FFF

.separatore
    background-color: black

#intestazione
    color: black

    background: linear-gradient(143deg, #8476f0, #fa708c)
    background-size: 200%
    background-position: 0% 0%

    animation: scorriSfondo 20s linear infinite

@keyframes scorriSfondo
    0%
        background-position: 0% 0%

    16.6%
        background-position: 100% 50%

    33.3%
        background-position: 0% 100%

    50%
        background-position: 100% 0%

    66.6%
        background-position: 50% 0%  

    83.3%
        background-position: 100% 100%

    100%
        background-position: 0% 0%
