$black: #0D0D0D
$grey: #2C2C2C
$green: #287910
$lime: #45E714
$white: #FFF

.separatore
    background-color: black

#intestazione
    color: black

    background: linear-gradient(to right, #c599e9 0%, #c3bef0 25%, #afcdfa 50%, #c3bef0 75%, #c599e9 100%)
    background-size: 400% 100%
    background-position: 0% 0%

    animation: scorriSfondo 20s linear infinite alternate

@keyframes scorriSfondo
    from 
        background-position: 0% 0%

    to 
        background-position: 300% 0%
